extends ../layout/head
block content
        nav(class="navbar bg-dark " data-bs-theme="dark")
                div(class="container")
                        a(class="navbar-brand" href="#") Inicio
                        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                                span(class="navbar-toggler-icon")
                        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                                div(class="navbar-nav")
                                        a(class="nav-link active" aria-current="page" href="#") Inicio
                                        a(class="nav-link" href="#presentacion") Presentacion
                                        a(class="nav-link" href="#cualidades") Cualidades
                                        a(class="nav-link" href="#portafolio") Portafolio
                                        a(class="nav-link" href="#contacto") Contacto
        header
                article.container-fluid.d-flex.flex-column.align-items-center.justify-content-center(style="min-height: 100vh;") 
                        .container
                                h1.text-center.font-monospace Desarrollador Web Full-Stack
        article.container.presentacion#presentacion 
                //.d-flex.flex-md-row.flex-column 
                //img.img-fluid(src="img/perfil.png" alt="imagen-perfil" style="max-width: 100%;height: 100%;")
                p.fst-italic.lh-lg.fw-light.text-center.fs-5 Hola me llamo Valentin , tengo 20 años y vivo en la localidad de La Punta (San Luis, Argentina) . Actualmente estoy cursando el segundo año de la Tecnicatura Universitaria en Desarrollo de Software en la Universidad de La Punta (ULP). Empece en el mundo de la programacion a los 18 años, con C++, en el 5 año de secundario. <br> Ademas de estudiar en la universidad, me gusta ser autodidacta y aprender nuevos lenguaje de programacion y , al tener una fuerte base en los fundamentos de la programacion , actitud que me favorece al aprende nuevas herramientas 
        article.container.d-flex.flex-md-row.flex-column.cualidades#cualidades 
                .container.habilidades
                        h3.text-center.text-light.fw-bold Habilidades
                        ul
                                li HTML 5 
                                li CSS 3
                                li JavaScript
                                li Buen manejo del DOM 
                                li Node js 
                                li Express 
                                li MySQL 
                                li Python (Basico)
                                li Java 
                                li C++
                                li C#
                                li PHP (Basico)
                                li Pug
                                li Bootstrap 5
                .container.aptitudes
                        h3.text-center.text-light.fw-bold Aptitudes
                        ul
                                li Buena comunicacion y claro
                                li Poseo buenas actitudes para resolver problemas 
                                li Me desempeño bien trabajando en grupo y individualmente
                                li Siempre busco nuevas maneras de resolver problemas
                                li Me considero una persona bastante responsable y aplicada
                .container.hobbies
                        h3.text-center.text-light.fw-bold Hobbies
                        ul
                                li Juego al voley 
                                li Me gusta jugar al ajedres
                                li Tres veces por semana voy al gimnasio
        article.container.proyectos#portafolio
                -let proyectos = projects;
                h1.fw-bold.fs-3 Portafolio
                .row.row-cols-xs-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-4
                        each pro in proyectos
                                -let imagen = `img${pro.img}`
                                .container.d-flex.align-items-center.justify-content-center(style="padding-bottom: 1rem")
                                        .card(style="width: 18rem;")
                                                img.card-img-top(src=imagen style="height: 12rem")
                                                div.card-body
                                                        h5.card-title=pro.nombre
                                                        p.card-text=pro.descripcion
                                                        a.btn.btn-primary(href=pro.url) Ir 
                        else 
                                        p No se encontraron proyectos
                